@import "tailwindcss";

@theme {
    --color-primary: #FF00A8;
    --color-background-light: #1E1E2A;
    --color-background-dark: #1E1E2A;
    --color-container-dark: #4A2E5B;
    --color-accent: #A8FF00;
    --color-text-main: #F0F0F0;
    --color-text-secondary: #b0b0c0;

    --font-family-display: "Space Grotesk", sans-serif;
    --font-family-comic: "Bangers", cursive;

    --border-radius-DEFAULT: 1rem;
    --border-radius-lg: 1.5rem;
    --border-radius-xl: 3rem;
    --border-radius-full: 9999px;
}

@utility font-bangers {
    font-family: var(--font-family-comic);
}

@utility clip-path-custom {
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%,
            100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

@layer components {
    .speech-bubble {
        position: relative;
        background: var(--color-container-dark);
        /* Correction ici */
        border-radius: var(--border-radius-lg);
    }

    .speech-bubble::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: var(--color-container-dark);
        /* Correction ici */
        border-bottom: 0;
        margin-left: -20px;
        margin-bottom: -20px;
    }
}